<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.example.demo.mapper.BookMapper">
 
 <select id="findOne" parameterType="string" resultType="com.example.demo.entity.Book">
 	SELECT
 		id,
 		name,
 		price
 	FROM
 		book
 	WHERE
 		id = #{id}
 </select>
 
 <select id="findAll" resultType="com.example.demo.entity.Book">
 	SELECT
  		id,
 		name,
 		price
  	FROM
 		book
 	ORDER BY
 		id
  </select>
  
  <insert id="create" parameterType="com.example.demo.entity.Book">
  	INSERT INTO book(name, price) VALUES(#{name}, #{price})
  </insert>
 
 </mapper>